@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.formStyling {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: rgb(26, 32, 44);
  margin: 0 !important;
}
.ContentRF {
  width: 100%;
  height: 100vh;
  background-color: rgb(26, 32, 44);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.changefont {
  font-family: "Montserrat", sans-serif !important;
}
.InputLabelStyle {
  border-color: white !important;
  border-bottom-width: 1px !important;
  border-image: linear-gradient(
    to left,
    rgb(39, 48, 59),
    rgb(255, 255, 255)
  ) !important;
  border-image-slice: 1 !important;
  padding: 15px 0 6px !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.marginRF {
  margin: 1.5rem 0rem;
}
.background {
  background-color: rgb(37, 44, 57) !important;
}
.textField {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: "8rem";
  margin-top: 1rem;
}
.textFieldLeft {
  display: flex;
  justify-content: left;
  align-items: center;
}
.LeftTextFieldImage {
  padding-left: 16vw !important;
}
.sizeH1 {
  font-size: 44px;
}
.sizeH2 {
  font-size: 25px;
}
#imgRF {
  height: 16rem !important;
  border-radius: 0.8rem;
  box-shadow: 5px 2px 8px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  width: 16rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.UploadImageLabel {
  background-color: blue;
  color: white;
  border-radius: 15px !important;
  padding: 8px 10px;
  margin-left: 0rem;
}
.ErrorMessage,
.ErrorMessage1,
.ErrorMessage2,
.ErrorMessage3,
.ErrorMessage4 {
  justify-content: left;
  height: 3rem !important;
}
.MarginError3 {
  margin-top: -4rem !important;
}
.MarginError4 {
  margin-top: -4rem !important;
}
.ErrorImageLeft {
  margin-left: 1rem !important;
}

@media only screen and (min-width: 769px) {
}

@media only screen and (max-width: 769px) {
  .LeftTextFieldImage {
    margin-left: 10vw !important;
    padding-bottom: 2rem !important;
    display: contents !important;
  }
  .textField {
    padding-right: 2rem;
  }
  .shift {
    margin-left: 6vw !important;
    width: 150vw !important;
  }
  .sizeH1 {
    font-size: 8.5vw;
  }
  .sizeH2 {
    font-size: 6vw;
  }
  .selectbox {
    width: 32rem !important;
  }
  .ContentRF {
    margin-top: 0 !important;
    height: 340vh !important;
  }
}
.ErrorMessagedob {
  width: 12rem !important;
  margin-top: 3rem !important;
}
.ErrorMessagebranch {
  width: 12rem !important;
}
@media only screen and (max-width: 1441px) and (min-width: 1025px) {
  .ErrorMessage1 {
    margin-left: -15.4rem !important;
  }
  .MarginError2 {
    margin-top: -3rem !important;
  }
  .MarginError5 {
    margin-top: -4rem !important;
    margin-bottom: 2rem !important;
  }
  .ErrorMessage2 {
    margin-left: 32rem !important;
    margin-bottom: -5rem !important;
    margin-top: 4rem !important;
  }
  .ErrorMessage4 {
    margin-left: 32rem !important;
    margin-top: -0.5rem !important;
  }
  .ErrorMessage3 {
    margin-left: 32rem !important;
    margin-top: -2.5rem !important;
    margin-bottom: -2rem !important;
  }
  .ErrorMessage1 {
    margin-left: 32rem !important;
    margin-top: -3rem !important;
    margin-bottom: -4rem !important;
  }
}

@media only screen and (max-width: 1025px) and (min-width: 769px) {
  .selectInput {
    margin-left: -3rem !important;
  }
  .UploadImageLabel {
    margin-left: -4rem !important;
  }
  .ErrorMessage3 {
    margin-top: -2.4rem !important;
    margin-left: 24.4rem !important;
    margin-bottom: -2.5rem !important;
  }
  .ErrorMessage2 {
    margin-left: 24.4rem !important;
    margin-bottom: -5rem !important;
    height: 5rem !important;
  }
  .ErrorMessage1 {
    margin-left: 24.4rem !important;
    margin-top: -3rem !important;
    margin-bottom: -4rem !important;
  }
  .ErrorMessage4 {
    margin-left: 24.4rem !important;
    margin-top: -0.5rem !important;
  }
}
@media only screen and (max-width: 769px) {
  .MarginError {
    margin-top: 0rem !important;
  }
}

@media only screen and (max-width: 769px) and (min-width: 426px) {
  .dob {
    margin-left: -3rem !important;
  }
  .formStyling {
    margin: 0rem -29px 130px !important;
  }
  #imgRF {
    margin-left: 8rem !important;
  }
  .MarginError3 {
    margin-bottom: 0rem !important;
  }
  .MarginError4 {
    margin-bottom: 2rem !important;
  }
  .ErrorImageLeft {
    margin-left: 6rem !important;
  }
  .UploadImageLabel {
    margin-left: 5.5rem !important;
  }
  .textFieldLeft {
    width: 150vw !important;
  }
  .ErrorMessage1 {
    margin-left: 20.5rem !important;
    margin-top: -3rem !important;
    margin-bottom: -4rem !important;
  }
  .ErrorMessage2 {
    margin-left: 20.5rem !important;
    margin-bottom: -7rem !important;
    margin-top: 4rem !important;
    height: 5rem !important;
  }
  .ErrorMessage3 {
    margin-left: 20.5rem !important;
    margin-top: -2rem !important;
    margin-bottom: -2rem !important;
  }
  .ErrorMessage4 {
    margin-left: 20.5rem !important;
    margin-top: -0.5rem !important;
  }
  .ErrorMessagedob {
    margin-left: -6.8rem !important;
  }
  .ErrorMessagebranch {
    margin-left: -1rem !important;
  }
}
@media only screen and (max-width: 426px) {
  #imgRF {
    width: 10rem !important;
    height: 10rem !important;
    margin-left: 4rem !important;
  }
  .ErrorImageLeft {
    margin-left: 0rem !important;
  }
  .MarginError1 {
    margin-bottom: -2.5rem !important;
  }
  .MarginError2 {
    margin-top: -2.5rem !important;
    margin-bottom: -1.5rem !important;
  }
  .UploadImageLabel {
    margin-left: -0.5rem !important;
  }
  .formStyling {
    margin: 0rem -29px 130px !important;
  }
  .ContentRF {
    margin-top: 0 !important;
    margin-bottom: 40vh !important;
    height: 220vh !important;
  }
  .directionChange {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    margin-right: 3rem !important;
    margin-top: 0.8rem !important;
  }
  .dob {
    margin-top: -5rem !important;
  }
  .branch {
    margin-top: -1rem !important;
  }
  .ErrorMessage {
    margin-left: 0rem !important;
  }
  .ErrorMessage1 {
    margin-left: 11rem !important;
    margin-top: -3rem !important;
    margin-bottom: -4rem !important;
  }
  .ErrorMessage2 {
    margin-left: 11rem !important;
    margin-bottom: -4rem !important;
    margin-top: 4rem !important;
  }
  .ErrorMessage3 {
    margin-left: 11rem !important;
    margin-bottom: 1rem !important;
    margin-top: -2rem !important;
  }
  .ErrorMessage4 {
    margin-left: 11rem !important;
    margin-top: -0.5rem !important;
  }
  .ErrorMessagedob {
    margin-left: -5.5rem !important;
  }
  .ErrorMessagebranch {
    margin-left: -3rem !important;
  }
}
@media only screen and (max-width: 376px) {
  #imgRF {
    width: 10rem;
    height: 18rem;
  }
  .UploadImageLabel {
    margin-left: 0rem !important;
  }
  .ErrorMessage1 {
    margin-left: 9.6rem !important;
    margin-top: -3rem !important;
    margin-bottom: -4rem !important;
  }
  .ErrorMessage2 {
    margin-left: 9.6rem !important;
  }
  .ErrorMessage3 {
    margin-left: 9.6rem !important;
    margin-top: -2rem !important;
  }
  .ErrorMessage4 {
    margin-left: 9.6rem !important;
    margin-top: -0.5rem !important;
  }
}
@media only screen and (max-width: 321px) {
  #imgRF {
    margin-left: 2rem !important;
  }
  .UploadImageLabel {
    margin-left: -1rem !important;
  }
  .ErrorMessage1 {
    margin-left: 8rem !important;
    margin-top: -3rem !important;
    margin-bottom: -4rem !important;
  }
  .ErrorMessage2 {
    margin-left: 8rem !important;
  }
  .ErrorMessage3 {
    margin-left: 8rem !important;
    margin-top: -2rem !important;
  }
  .ErrorMessage4 {
    margin-left: 8rem !important;
    margin-top: -0.5rem !important;
  }
}
