.definition {
  display: flex;
  margin: -30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 120px 100px 120px 100px;
}

.video {
  width: 80%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

.def-para {
  margin-bottom: 40px;
  margin-top: 60px;
  text-align: center;
  background-color: #1A202C;
  color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding: 60px;
}

.def-para-clear {
  margin-bottom: 40px;
  margin-top: 60px;
  text-align: center;
  background-color: #1A202C;
  color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding: 60px;
}

.title{
  color: #1A202C;
}

@media screen and (min-width: 850px) {
  .video {
    height: 500px !important;
  }
  .def-para{
      font-size: 25px;
  }
  .title{
    font-size: 50px !important;
  }
}
@media screen and (max-width:850px) and (min-width: 450px) {
  .video {
    height: 300px !important;
    width: 450px !important;
  }
  .def-para{
      font-size: 18px;
      width: 380px;
  }
  .title{
    font-size: 34px !important;
  }
}
@media screen and (max-width: 450px) {
  .video {
    height: 200px !important;
    width: 250px !important;
  }
  .def-para{
      font-size: 13px;
      width: 262px;
  }
  .title{
    font-size: 24px !important;
  }
}
