@media screen and (max-width: 400px) {
  .dcoder-logo-wrapper {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .dcoder-logo {
    margin-bottom: 20px;
  }

  .admin-btns {
    width: 100%;
    justify-content: space-around;
  }
}
